@font-face {
  font-family: myFirstFont;
  src: url(./);
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: myFirstFont;
}

.information {
  padding: 96px 0;
  background-color: #001e62;
}

.information h2 {
  color: #fff;
}